{% extends "main/base/base.html" %}
{% load static %}

{% block content %}
                <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                    <div class="title-group mb-3">
                        <h1 class="h2 mb-0">Wallet</h1>
                    </div>

                    <div class="row my-4">
                        <div class="col-lg-12 col-12">
                            <div class="custom-block bg-white">
                                <h5 class="mb-4">Account Activities</h5>

                                <div class="table-responsive">
                                    <table class="account-table table">

                                        <tbody>
                                            {% for transaction in transactions %}
                                                <tr>
                                                    <td scope="row">{{ transaction.transaction_date }}</td>
                                                    <td scope="row">{{ transaction.transaction_time }}</td>
                                                    <td scope="row">{{ transaction.description }}</td>
                                                    <td scope="row">{{ transaction.payment_type }}</td>
                                                    <td class="{% if transaction.amount < 0 %}text-danger{% else %}text-success{% endif %}" scope="row">
                                                        <span class="me-1">{% if transaction.amount < 0 %}-{% else %}+{% endif %}</span>
                                                        ${{ transaction.amount|floatformat:2 }}
                                                    </td>
                                                    <td scope="row">${{ transaction.balance_after_transaction|floatformat:2 }}</td>
                                                    <td scope="row">
                                                        <span class="badge {% if transaction.status == 'S' %}text-bg-success{% elif transaction.status == 'D' %}text-bg-danger{% else %}text-bg-warning{% endif %}">
                                                            {{ transaction.get_status_display }}
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>  
                                </div>

                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center mb-0">
                                        {% if transactions.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ transactions.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">Prev</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                
                                        {% for i in transactions.paginator.page_range %}
                                            {% if transactions.number == i %}
                                                <li class="page-item active" aria-current="page">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                
                                        {% if transactions.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ transactions.next_page_number }}" aria-label="Next">
                                                    <span aria-hidden="true">Next</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        
{% endblock  %}
                    
        <!-- JAVASCRIPT FILES -->

    {% block js %}
        <script src="{% static "js/apexcharts.min.js" %} "></script>
    {% endblock js %}